# Environment variables
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# n8n data
.n8n/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
